{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary d-flex align-items-center">
        <i class="fas fa-save me-2"></i>
        {{ button_label|default('Save') }}
    </button>
{{ form_end(form) }}
